.carouselContainer {
    width: 100%;
    position: relative;
}

.carouselElement {
    width: 100%;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    border-radius: 30px;
    position: relative;
    border: none;

}

.imgStyle {
    height: 100vh;
    width: 100%;
}
.buttonPrev{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    position: absolute;
    top: 470px;
    right: 66px;
    color: white;
    z-index: 20;
}
.buttonNext{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    position: absolute;
    top: 350px;
    right: 66px;
    color: white;
    z-index: 20;
}
.bulletsContainer{
    width: 150px;
    height: 30px;
    position: absolute;
    right: -5%;
    top: 85%;
    transform: translate(-50%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}
.bullets {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    overflow: hidden; /* Nasconde il testo che sfora */
  }
  .activeBullet {
    color: #fff;
    font-family: league;
    font-size: 70px;
    position: absolute;
    animation: slideDown 0.5s ease-in-out; 
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
.testoCard{
    position: absolute;
    width: 300px;
    left: 30px;
    bottom: 50px;
    background-color: rgba(100, 100, 100, 0.5);
    padding: 20px;
    border-radius: 30px;
    color: white;
}
.containerGeneral{
    width: 100%;
    height: 100vh;
}
.overlay{
    position: absolute;
    z-index: 10;
    top: 72px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(62, 78, 86, 0.8);
    z-index: 10;
}
.animatingBullet {
    animation: slideDown 0.7s ease-in-out;
  }
  .containerSlogan{
    z-index: 50;
    position: absolute;
    top: 40%;
    left: 50px;
  }
  .containerSocial{
    position: absolute;
    bottom: -70%;
    left: 50%;
    transform: translate(-50%);
    z-index: 20;
    display: flex;
    padding: 10px;
  }
