

@font-face {
  font-family: 'League';
  src: url('./font//LeagueGothic-Regular-VariableFont_wdth.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sanchez';
  src: url('./font/Sanchez-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
